## 1. 구구단 함수(입/출력)

In [84]:
def gugudan(x):
        for i in range(1,10):
            print(x,"*",i,"=",x*i)

In [85]:
gugudan(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [79]:
gugudan(7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

## 2. 홀수/짝수 판별

In [96]:
def scan(x):
    if x%2 == 0:
        print("odd number")
    else :
        if x%2 == 1:
            print("even number")
        else :
            print("정수가 아닙니다")

In [98]:
scan(11)

even number

In [99]:
scan(5.55)

정수가 아닙니다

## 3. 평균

In [108]:
import numpy as np

In [118]:
list = [12,24,35,45,21,99,21,31,31]

In [119]:
list

[12, 24, 35, 45, 21, 99, 21, 31, 31]

In [116]:
len(list)

9

In [120]:
def average(list):
    num = 0
    for i in range(len(list)):
        num = num + list[i]
    return (num)/len(list)


print("평균값 : {}".format(average(list)));

평균값 : 35.44444444444444

In [121]:
np.mean(list)

35.44444444444444